html
    head
        title puga giriş
    body

         span(style= " background-color:#ff3333; color:white;")
         | merhaba #{ adi }  nasılsın?

        br
        // include işleminde hata veriyor.